*{margin: 0;padding: 0;outline: 0;}
.container{
    width: 1140px;
    font-family:'Playfair Display', serif;
    margin: 0 auto;
    display:flow-root;
}
a{
    text-decoration: none;
}
.header {
    header:100%;
    padding: 45px;
    display: flow-root;
}

.logo{
    width: 20%;
    float: left;
  
}
.navbar{
    widows: 80%;
    float: right;
}
.navbar ul li {
    display: inline-block;
    list-style: none;
    margin-left: 100px;
}
.navbar ul li a{
    color: #3B3B3B;
    text-transform: uppercase;
}
.discribe{
    width: 100%;
    display: flow-root;
}
.dis {
    padding: 65px;
}
p.cat {
    color: #b4ad9e;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.dis h2{
    color: #3B3B3B;
    font-size: 34px;
    padding-bottom: 24px;
}
.comment {
    color: #b4ad9e;
    padding: 35px 0;
    text-transform: uppercase;
}
.gallery{
    width: 100%;
    display: flow-root;
}
.photography {
    padding: 65px;
}
.type-1{
    width: 50%;
    float: left;
}
.type-1 .cat {
    color: #b4ad9e;
    padding: 30px 0;
}
.type-1 h2 {
    color: #3B3B3B;
    font-size: 33px;
    padding-bottom: 26px;
}
.type-1 p{
    color: #3B3B3B;
    line-height: 24px;
}
.type-left{
    padding-right: 35px;
}
.type-2{
    width: 50%;
    float: right;
}
.type-right{
    padding-left: 35px;
}
.type-2 .cat{
    color: #b4ad9e;
    padding: 30px 0;
}
.type-2 h2{
    color: #3B3B3B;
    font-size: 33px;
    padding-bottom: 26px;
}
.type-2 p{
    color: #3B3B3B;
    line-height: 24px;
}
.subscribe{
    width: 100%;
    display: flow-root;
    background: #f0f0f0;
    margin: 100px 0;
}
.signup {
    text-align: center;
    padding: 55px 0;
    position: relative;
}
.signup h2 {
    color: #3B3B3B;
    padding-bottom: 48px;
    font-size: 33px;
}
.signup input {
    width: 393px;
    border: none;
    background: transparent;
    font-size: 17px;
    border-bottom: 1px solid #000;
    margin: 30px 0px;
    padding: 9px;
}
.signup i {
    position: absolute;
    top: 178px;
    left: 730px;
    font-size: 31px;
}
.button{
    width: 100%;
    display: flow-root;
}
.loadmore {
    text-align: center;
    padding: 110px 0;
}
.loadmore button {
    color: #3B3B3B;
    width: 213px;
    padding: 27px 23px;
    background: transparent;
    font-size: 28px;
}
.loadmore button:focus{
    border:1px solid grey;
}.footer{
    width: 100%;
    display: flow-root;
    background: #f0f0f0;
}
.footerbar {
    padding: 65px;
    font-size: 20px;
}
.footerbar ul li{
    list-style: none;
    display: inline-block;
}
.footerbar ul li a {
    color: #3B3B3B;
    padding-right: 15px;
}
.info {
    width: 40%;
    float: left;
}
.icon{
    width: 22%;
    float: right;
}
.icon p {
    color: #3B3B3B;
    display: inline-block;
    float: left;
    margin-right: 20px;
}